.all-height
{
    height:100%;
}
.font-small
{
    font-size:0.8em;
}
body
{
    background-image: url("../../images/bus.png") ;
    background-position:center;
}
.shadow
{
    z-index : 499999999999;
    box-shadow: 0 0px 40px 0 rgb(150,150,150);

}