<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="inc/images/initialeCarteur.ico">-->

    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/singup.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/index/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/fontawesome/css/fontawesome.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/fontawesome/css/all.min.css}" />
    <title>SingUp </title>
</head>

<body style="background-color: #504e4d;">
    <div class="my-box up">
        <h2>GET STARTED</h2>
        <span class="error"></span>
        <form>
            <div class="form-group inputBox">
                <input type="text" name="userFirstName" id="userFirstName" class="form-control" placeholder="" />
                <label for="userFirstName"> Nom ....<i class="fa fa-user" aria-hidden="true"></i></label><br />
            </div>
            <div class="form-group inputBox">
                <input type="text" name="userLastName" id="userLastName" class="form-control" placeholder="" />
                <label for="userLastName"> Prenom ....<i class="fa fa-user" aria-hidden="true"></i></label><br />
            </div>
            <div class="form-group inputBox">
                <input type="text" name="userName" id="userName" class="form-control" placeholder="" />
                <label for="userName"> Username ....<i class="fa fa-user" aria-hidden="true"></i></label><br />
            </div>
            <div class="form-group inputBox">
                <input type="text" name="userEmail" id="userEmail" class="form-control" placeholder="" />
                <label for="userEmail"> Email .... <i class="fa fa-envelope" aria-hidden="true"></i></label><br />
            </div>
            <div class="form-group inputBox">
                <input type="password" class="form-control" name="userPassword" id="userPassword" placeholder="">
                <label for="userPassword">Mot de Password ....<i class="fa fa-eye-slash"
                        aria-hidden="true"></i></label><br />
            </div>
            <div class="form-group inputBox">
                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="">
                <label for="confirm"></i> Confirmer Mot de Password ....<i class="fa fa-eye-slash"
                        aria-hidden="true"></i>
                </label><br />
            </div>
            <div class="form-group inputBox">
                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="">
                <label for="confirm">T&eacute;l&eacute;phone ....<i class="fa fa-phone"
                        aria-hidden="true"></i></label><br />
            </div>
            <div class="form-group inputBox">
                <div class="bt">
                    <button type="submit" class="btn ">Submit</button>
                    <button type="button" class="btn "><a href="http://" target="_blank" rel="noopener noreferrer">Reset
                            PassWord</a></button>
                </div>
            </div>
        </form>
    </div>

    <script th:src="@{/bootstrap/js/scroll.js}"> </script>
    <script th:src="@{/bootstrap/js/jquery-3.3.1.min.js}"> </script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>